/* height */
.grid.overflow-x-auto::-webkit-scrollbar {
  height: 4px;
}

/*  track */
.grid.overflow-x-auto::-webkit-scrollbar-track {
  background: #d6d3d3; /* Track color */
  border-radius: 4px; /* Rounded edges */
}

/* Style for the scrollbar thumb */
.grid.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #888282; /* Scrollbar color */
  border-radius: 4px;
}

/* Style for scrollbar thumb on hover */
.grid.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background-color: #aaadb0; /* Darker color on hover */
}



/* ///////////////.           animation of the flying images======================= */

.custom-scrollbar::-webkit-scrollbar{
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: rgb(119, 120, 123);
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover{
  background-color: rgb(161, 156, 156);
}

.custom-scrollbar::-webkit-scrollbar-track{
   background-color: rgb(199, 201, 198);   
}


